In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv('example')
df
# pandas read메소드 : 파일을 읽어온다 pd.read_csv('파일명')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.to_csv('example1',index=False)
# df로 저장한 데이터를 'example1'이라는 이름의 csv 파일 형식으로 저장하는 명령어

In [6]:
pd.read_excel('Excel_Sample.xlsx','Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [7]:
df.to_excel('Excel_Sample1.xlsx',sheet_name='Seet1')